<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="login">
    <header class="home__header">
      <img
        src="/images/logo-mercado-liebre.svg"
        alt="logo de mercado liebre"
        class="logo"
      />

      <form class="home__header__form">
        <div class="home__header__form__div">
          <input
            type="text"
            name="q"
            placeholder="Buscar productos,marcas"
            id="barra-busqueda"
          /><span><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
      </form>
      <p class="mensaje-oferta">
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </p>

      <nav class="header__nav--menu">
        <ul>
          <li><a href="/">Ofertas</a></li>
          <li><a href="/">Tiendas Oficiales</a></li>
          <li><a href="/">Vender</a></li>
          <li><a href="/">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="/"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars icono-menu"></i>
      </div>
    </header>
    <main class="login__main">
      <section class="box__card">
        <form action="" class="form">
          <div class="form__box">
            <label class="form__label" for="user">Nombre de suario</label>
            <input
              class="form__input"
              id="user"
              type="text"
              placeholder="Escribí tu usuario"
              name="user"
            /><small class="form__msg-error">Campo obligatorio</small>
          </div>
          <div class="form__box">
            <label class="form__label" for="password">Contraseña</label>
            <input class="form__input" id="password" type="password" /><small
              class="form__msg-error"
              >Campo obligatorio</small
            >
          </div>
          <div class="box__end">
            <a href="/" class="button login__button__primary" type="submit"
              >Enviar</a
            >
          </div>
        </form>
      </section>
    </main>
    <footer class="footer">
      <section class="home__footer__section">
        <i class="fa-solid fa-credit-card icono-footer"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin<br />interés con tarjeta o
          efectivo en puntos de<br />pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="home__footer__section">
        <i class="fa-solid fa-gift icono-footer"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre<br />tenés envíos gratis
          en miles de productos. Es<br />un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="home__footer__section">
        <i class="fa-solid fa-user-shield icono-footer"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br />no hay nada que no
          puedas hacer, porque<br />estás siempre protegid@.
        </p>
      </section>
      <p class="footer__copyright">
        Copyright © 1999-2020 MercadoLiebre S.R.L.
      </p>
    </footer>
  </body>
</html>
