.button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.button__primary {
  background-color: var(--colorGrisOscuro);
  color: #ffffff;
}
.login__button__primary {
  background-color: var(--colorGrisOscuro);
  color: #ffffff;
}

.button_secondary {
  background-color: var(--colorGrisOscuro);
  color: #ffffff;
}
@media (min-width: 768px) {
  .login__button__primary:hover {
    background-color: #0022aa;
  }
}
