.icono-footer {
  font-size: 30px;
  color: var(--colorCeleste);
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.home__footer__section {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.footer__copyright {
  padding: 15px;
}
