.footer {
  background-color: #ffffff;
  border: 5px solid var(--colorGrisClaro);
}
.icono-footer {
  font-size: 30px;
  color: var(--colorCeleste);
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.home__footer__section {
  background-color: #ffffff;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.footer__copyright {
  padding: 15px;
}

@media (min-width: 1024px) {
  .footer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .home__footer__section {
    width: 32%;
  }
}
