.form {
  display: flex;
  flex-wrap: wrap;
}

.form__box {
  margin-bottom: 20px;
  width: 100%;
}

.form__label {
  margin-bottom: 20px;
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  margin-top: 10px;
}

.form__msg-error {
  color: red;
  margin-left: 5px;
}

.form__box--row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form__box--row h4 {
  width: 100%;
  padding-bottom: 20px;
  margin: 0;
}

.form__box--col50 {
  width: 50%;
}

@media (min-width: 768px) {
  .form__box--row {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .form__box--row {
    width: 100%;
  }
}
