:root {
  --colorAmarillo: #eac926;
  --colorAzul: #03264c;
  --colorCeleste: #1259c3;
  --colorGrisOscuro: #666;
  --colorGrisClaro: #ebebeb;
  --colorVerde: #39b54a;
  --tipografia: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

body {
  font-family: var(--tipografia);
  font-size: 12px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--colorGrisClaro);
}
main {
  margin: 0 auto;
  width: 90%;
}
form {
  margin-top: 10px;
  width: 100%;
}
p {
  width: 100%;
}

h2 {
  color: var(--colorGrisOscuro);
  font-size: 24px;
  font-weight: bold;
  background-color: var(--colorGrisClaro);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
section {
  background-color: var(--colorGrisClaro);
}
article {
  margin-bottom: 10px;
}

article img {
  width: 100%;
}

h3 {
  font-size: 16px;
}

.box__end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.box__card {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px var(--colorGrisOscuro);
  border-radius: 5px;
}
